@import url("reset.css");
@import url("base.css");
.step {
    position: relative;
    top: 20px;
    left: 30px;
    width: 800px;
}

.stepDiv02 {
    position: relative;
    top: 50px;
    left: 30px;
    width: 365px;
    margin-bottom: 10px;
}

.stepDiv01 {
    position: relative;
    top: 50px;
    left: 30px;
    width: 800px;
}

.stepDiv01 .step01Input {
    width: 300px;
}

.stepDiv03 {
    position: relative;
    top: 100px;
    left: 30px;
}


/* 确认上传框 */

.nei {
    position: relative;
    width: 800px;
}

.stepDiv04 {
    position: relative;
    top: 100px;
    left: 30px;
    color: green;
}

.stepDiv04 b {
    font-size: 300px;
}

.stepDiv04 .btn {
    position: relative;
    left: 90px;
}