<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C8动漫详情页</title>
    <!-- 引入网页图标 -->
    <link rel="shortcut icon" href="../img/c8icon.jpg" type="image/x-icon" />
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--axios包-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="js/cookieUtils.js"></script>
    <script src="js/person_info.js"></script>
    <link rel="stylesheet" href="css/person_info.css">
</head>

<body>
    <div id="main">

        <div class="top-nav">
            <div class="w">
                <ul class="clearFix l">
                    <li class="fl"><a href="index.html">首页</a></li>
                    <li class="fl"><a href="javascript:void(0)">漫友中心</a></li>
                    <li class="fl" v-show="user.roleid<3"><a href="houtai_index.html">后台中心</a></li>
                    <!-- <li class="fl"><a href="#" plain @click="open1">下载APP</a></li> -->
                    <li class="fl"><a href="javascript:void(0)" @mouseover="show3=!show3" @mouseleave="show3=!show3">下载APP</a>

                        <div class="downapp">
                            <el-collapse-transition>
                                <div v-show="show3">
                                    <div class="transition-box">
                                        <img src="img/app.jpg" />
                                        <br>
                                        <i>扫码添加作者微信<br>催促他快编写漫坛APP哦</i>
                                    </div>

                                </div>
                            </el-collapse-transition>
                        </div>
                    </li>
                </ul>

                <ul class="fr clearFix r" v-if="loginSuccess==false">
                    <li class="fr"><a href="javascript:void(0)" @click="showLogin=false;showRegister = !showRegister">注册</a>
                        <!-- 注册弹框 -->
                        <div class="rigisterdiv">
                            <el-collapse-transition>
                                <div v-show="showRegister">
                                    <div class="transition-box">
                                        <br> <b>用户注册</b><br><br>
                                        <el-input placeholder="请输入用户名" v-model="user.username" clearable></el-input>
                                        <br><br>
                                        <el-input placeholder="请输入密码" v-model="user.password" show-password></el-input>
                                        <br>
                                        <span style="color: red;">{{registerMsg}}</span><br>
                                        <el-button type="success" plain style="width: 100%;font-size: 10px;" @click="register">注册</el-button>
                                    </div>

                                </div>
                            </el-collapse-transition>
                        </div>

                    </li>
                    <li class="fr"><a href="javascript:void(0)" @click="showRegister=false;showLogin = !showLogin">登录</a>
                        <!-- 登录弹框 -->
                        <div class="logindiv">
                            <el-collapse-transition>
                                <div v-show="showLogin">
                                    <div class="transition-box">
                                        <br> <b>用户登录</b><br><br>
                                        <el-input placeholder="请输入用户名" v-model="user.username" clearable></el-input>
                                        <br><br>
                                        <el-input placeholder="请输入密码" v-model="user.password" show-password></el-input>
                                        <br>
                                        <span style="color: red;">{{loginMsg}}</span><br>
                                        <el-button type="primary" plain style="width: 100%;font-size: 10px;" @click="login">登录</el-button>
                                    </div>

                                </div>
                            </el-collapse-transition>
                        </div>
                    </li>
                </ul>




                <!-- 用户角色模块 -->
                <ul class="fr clearFix r" v-if="loginSuccess==true">
                    <li class="fr">
                        <!-- <span class='el-icon-user-solid'></span> -->
                        <!-- <span class="el-icon-user"></span>
                        <a href="javascript:void(0)">{{user.username}}</a> -->
                        <el-dropdown>
                            <span class="el-dropdown-link">
                                <span class="el-icon-user"></span>
                            <a href="javascript:void(0)">{{user.username}}</a>

                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item icon="el-icon-loading"><a :href="'person_info.html?id='+this.user.id">个人空间</a></el-dropdown-item>
                                <el-dropdown-item icon=" el-icon-female">我的好友</el-dropdown-item>
                                <el-dropdown-item icon="el-icon-circle-close"><span @click="loginout">退出登录</span>
                                </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </li>
                </ul>
            </div>
        </div>




        <div class="about w">
            <el-row :gutter="40">
                <el-col :span="8">

                    <div class="about-img">
                        <img src="img/banner4.jpg" alt="">
                    </div><br><br>
                    <div class="uname"><b>admin</b><span @click="editInfo=true" class="el-icon-edit"></span></div>
                </el-col>
                <el-col :span="16">

                    <div class="about-message">
                        <p>真实姓名：<span>罗锦涛</span></p>
                        <p>性别：<span>男</span>&nbsp;&nbsp;&nbsp;生日：<span>1997-05-27</span> </p>
                        <p>邮箱：<span>2690677125@qq.com</span>&nbsp;&nbsp;&nbsp;电话：<span>18270605540</span></p>
                        <p>地址：<span>江西省宜春市高安市赤土板路</span></p>
                        <hr>
                        <p>爱好：</p>
                        <p><span>宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍
                            宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍
                            宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍
                            宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍
                            宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍宿舍
                        </span></p>
                    </div>
                </el-col>
            </el-row>
        </div>
        <div class="edit w" v-if="editInfo">
            <div class="comment-name">
                编辑资料

            </div>
            <hr>

            <div>
                <!-- <br>
                <el-row :gutter="60">
                    <el-col :span="6">
                        <el-input placeholder="请输入内容" v-model="userZong.username">
                            <template slot="prepend"> 用户名</template>
                        </el-input>
                    </el-col>
                    <el-col :span="6">
                        <el-input placeholder="请输入内容" v-model="userZong.password">
                            <template slot="prepend"> 密码</template>
                        </el-input>
                    </el-col>
                    <el-col :span="6">
                        <el-input placeholder="请输入内容" v-model="userZong.realName">
                            <template slot="prepend"> 真实姓名</template>
                        </el-input>
                    </el-col>
                    <el-col :span="4">
                        <el-select v-model="userZong.sex" clearable placeholder="请选择性别">
                            <el-option v-for="item in ['男','女']" :key="item" :label="item.label" :value="item">
                            </el-option>
                        </el-select>
                    </el-col>
                </el-row>
                <br>

                <el-row :gutter="60">
                    <el-col :span="6">
                        <el-input placeholder="请输入内容" v-model="userZong.phone">
                            <template slot="prepend"> 电话</template>
                        </el-input>
                    </el-col>
                    <el-col :span="6">
                        <el-input placeholder="请输入内容" v-model="userZong.emil">
                            <template slot="prepend"> 邮箱</template>
                        </el-input>
                    </el-col>
                    <el-col :span="10">
                        <el-input placeholder="请输入内容" v-model="userZong.address">
                            <template slot="prepend"> 地址</template>
                        </el-input>
                    </el-col>

                </el-row>

                <br>
                <el-row :gutter="60">
                    <el-col :span="6">
                        <div>

                            <el-date-picker prefix-icon="el-icon-present" v-model="userZong.birthday" type="date" placeholder="出生日期">
                            </el-date-picker>
                        </div>
                    </el-col>

                    <el-col :span="12">
                        <el-input type="textarea" :autosize="{ minRows: 2, maxRows: 4}" placeholder="请输入爱好" v-model="userZong.hoppy">
                        </el-input>

                    </el-col>
                </el-row>







                <br> -->

            </div>

            <br><br><br>
        </div>

        <div class="comment w">
            <div class="comment-name">
                相关发帖
            </div>
            <hr>
            <div class="comment-text">
                <i class="el-icon-tickets"></i>
                <!-- <span class="comment-text-name">{{item.uname}}</span> -->
                <!-- <span class="comment-text-to">@某某某</span> -->
                <p>我的第一条帖子</p>
                <div class="comment-text-xinxi clearfix">
                    <span class="fl">时间：2020-12-06 15:49:33</span>
                    <span class="fr" @click="postInput=!postInput">回复</span>
                </div>

                <!-- 子评论开始 -->
                <div class="comment-text">
                    <i class="el-icon-user-solid"></i>
                    <span class="comment-text-name">张三</span>
                    <p>第一条回复</p>
                    <div class="comment-text-xinxi clearfix">
                        <span class="fl">时间：2020-12-06 15:49:33</span>
                        <span class="fr" @click="postItemInput=!postItemInput">回复</span>
                    </div>
                    <!-- 回复输入框 -->
                    <el-input v-if="postItemInput" placeholder="请输入内容" v-model="postInfo.postContext">
                        <el-button slot="append" icon="el-icon-s-promotion"></el-button>
                    </el-input>
                </div>
                <!-- 子评论结束 -->
                <!-- 回复输入框 -->
                <el-input v-if="postInput" placeholder="请输入内容" v-model="postInfo.postContext">
                    <el-button slot="append" icon="el-icon-s-promotion"></el-button>
                </el-input>

            </div>
        </div>



    </div>


    <!-- foot -->
    <!--foot 开始-->

</body>

</html>